# Arquivos de build e dependências do .NET
[Bb]in/
[Oo]bj/

# Arquivos específicos do Visual Studio e do usuário
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de IDEs
.idea/
.vscode/

# Arquivo de configuração de desenvolvimento
# Esta é uma das linhas mais importantes!
appsettings.Development.json

# Arquivo do banco de dados local
*.db
*.db-journal